:root {
    --orange: #E56C4B;
    --purple: #C6ABD4;
    --yellow: #F2B256;
    --drk-blue: #31446F;
    --grey: #B2B6C1;
    --green: #939279;
    --green2: #7a7a64;
    --cream: #E2E1DC;
    --black: #212121;
    --sm: "Space Mono", monospace;
}

* {
    box-sizing: border-box; /* removes the extra height that is given to the h1 element in the header */
}


header {
    background: var(--green);
    height: 68px;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit; /* tells the header .logo dive to use the same height as the header element */
    margin-left: 2em;
}

header.logo-text {
    margin: 8px;
}

header .logo-text span {
    color: var(--yellow);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body {
    padding: 0px;
    margin: 0px;
    background: var(--cream);
    font-family: var(--sm);
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 68px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    color: var(--black);
    background-color: white;
}

header ul li ul li a:hover {
    background: var(--grey);
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: var(--green2);
    transition: 0.5s;
    text-decoration: underline;
}

header .menu-toggle {
    display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: var(--green);
        max-height: 0px;
        overflow: hidden;
    }
    .showing {
        max-height: 100em;
    }
    header ul li {
        width: 100%;
    }
    header ul li ul  {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a {
        padding: 10px;
        background: var(--green);
        color: white;
        padding-left: 50px;
    }
    header ul li ul li a:hover {
        background: var(--green2);
    }
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo {
        margin-left: 2em;
}
    header .logo-text {
        font-size: 1.3em;
    }
}

